<template name="postItem">
  <div class="post">
    {{#if currentUser}}<button type="button" class="upvote btn {{upvoteButtonView}}">&#129093;</button>{{/if}}
    <div class="post-content">
        <div class="post-title">
            <h3><a href="{{url}}">{{title}}</a> <span>{{domain}}</span></h3></div>
      <p>
        {{pluralize votes "Vote"}} /
        {{username}}
        <a href="{{pathFor 'postPage'}}">({{pluralize commentsCount "comment"}})</a>
      </p>
    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-info">Discuss</a>
    {{#if ownPost}}<a href="{{pathFor 'postEdit'}}" class="discuss btn btn-default">Edit</a>{{/if}}
  </div>
</template>
