<template name="postsList">
    {{#if currentUser}}
    <div class="col-lg-3 col-sm-12">
        {{> profilePage }}
    </div>
    {{/if}}

    <div class="posts col-lg-9 col-sm-12">
        <section class="animation-wrapper">
            {{#each posts}}
                {{> postItem}}
            {{/each}}
        </section>
        {{#if nextPath}}
            <a class="load-more" href="{{nextPath}}">Load more</a>
        {{else}}
            {{#unless ready}}
                {{> spinner}}
            {{/unless}}
        {{/if}}
    </div>
</template>